$main:#ccc;
$add:#272727;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    position: fixed;
}

#burger{
    grid-area:burger;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    div{
        display: flex;
        flex-direction: column;
        

        .line{
            width:25px;
            height:4px;
            margin:3px;
            background: $add;
        }
    }
}


@import 'scss/navbar';
@import 'scss/media';